:root
{
	--sidebar-width: 175px;
	--sidebar-margin: 10%;
	--footer-height: 100px;
}

body
{
	background-color: #F5F5F5;
	font-family: 'Open Sans', 'sans-serif';
	margin-bottom: calc(var(--footer-height) + 25px);
	margin-left: var(--sidebar-width);
}
#wrap
{
	position: relative;
	margin-left: 5%;
}
a
{
	cursor: pointer;
}
li
{
	margin-top: 10px;
	list-style-type: none;
}
.song li
{
	font-weight: bold;
}

#sidebar
{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: var(--sidebar-width);
	background: linear-gradient(to right, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	border-right: solid black 2px;
}
#sidebar-wrap
{
	position: absolute;
	left: var(--sidebar-margin);
}
#nav-library, #nav-artist
{
	display: block;
	width: calc( var(--sidebar-width) - var(--sidebar-margin) );
}
#login h1
{
	position: fixed;
	font-size: 110%;
	bottom: var(--footer-height);
}

#throbber
{
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	height: var(--footer-height);
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	box-shadow: 0px 0px 10px #888888;
	transition: height 5s ease;
}
#np-throbber
{
	position: absolute;
	bottom: 15px;
	left: 15px;
}
#np-player
{
	position: absolute;
	bottom: 50px;
	right: 10%;
}
#np-text
{
	position: absolute;
	left: 125px;
	bottom: 20%;
}
#np-title
{
	position: absolute;
	font-weight: bold;
}
#np-artist
{
	position: absolute;
}

#skip-fwd
{
	position: absolute;
	bottom: 20px;
	right: 50px;
	transition: all 5s ease 0s;
}
#play-pause
{
	position: absolute;
	bottom: 20px;
	right: 125px;
}
#skip-bwd
{
	position: absolute;
	bottom: 20px;
	right: 200px;
}