:root
{
	--sidebar-width: 175px;
	--sidebar-margin: 10%;
	--footer-height: 100px;
	--controls-width: 275px;
}

body
{
	background-color: #F5F5F5;
	font-family: 'Open Sans', 'sans-serif';
	margin-left: var(--sidebar-width);
	margin-bottom: 25px;
	transition: margin-bottom 0.2s ease;
}
#wrap
{
	position: absolute;
	margin-left: 5%;
}
a
{
	cursor: pointer;
}
li
{
	margin-top: 10px;
	list-style-type: none;
}
.song li
{
	font-weight: bold;
}

#sidebar
{
	position: absolute;
	left: 0;
	top: 0;
	width: var(--sidebar-width);
	height: 100%;
	transition: height 0.2s ease;
	background: linear-gradient(to right, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	border-right: solid black 2px;
}
#sidebar-wrap
{
	position: absolute;
	margin-left: var(--sidebar-margin);
	height: 100%;
	width: calc( 100% - var(--sidebar-margin) );
}
#nav
{
	position: absolute;
}
#login
{
	position: absolute;
	left: 15px;
	bottom: 0;
	font-size: 50%;
}

#throbber
{
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	transition: height 0.2s ease;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	box-shadow: 0px 0px 10px #888888;
}
#now-playing
{
	position: absolute;
	width: calc( 100% - var(--controls-width) );
	height: 100%
}
#np-cover-art
{
	width: var(--footer-height);
	display: none;
}
#np-throbber
{
	position: absolute;
	left: 15px;
	top: 15px;
}
#np-player
{
	position: absolute;
	bottom: 50px;
	right: 10%;
}
#np-text
{
	position: absolute;
	left: 125px;
	width: calc( 100% - 10px );
	top: 15%;
}
#np-title
{
	font-weight: bold;
}
#np-album
{
	font-style: italic;
}
#controls
{
	position: absolute;
	right: 0;
	width: var(--controls-width);
	height: 100%;
	top: 25%;
}

#skip-fwd
{
	position: absolute;
	right: 50px;
}
#play-pause
{
	position: absolute;
	right: 125px;
}
#skip-bwd
{
	position: absolute;
	right: 200px;
}